<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>

<h1>Books</h1>
 <table>
  <tr>
   <td>Title</td>
   <td>Opinion</td>
  </tr>
 </table>
  <tbody>
    <tr>
     <td>
      <% @books.each do |book| %>
      <%= attachment_image_tag @user, :profile_image, :fill,40,40, fallback: "no_image.jpeg" %>
      <%= book.title %>
      <%= book.body %>
      <% end %>
     </td>



    </tr>
  </tbody>